@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    scroll-behaviour:smooth;
    font-family: "Poppins", serif;
}

:root{
    --main-color :#138c61;
    --second-color:#092b54;

}
section{
    padding: 50px 10%;
}
img{
   width: 100%; 
}
*::selection{
    color:#fff;
    background: var(--main-color);
}
header{
    /* position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 10px 10%;
    transition: 0.2s; */
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    transition: 0.2s;
    padding:15px;
    /* background-color:rgba(245, 245, 220, 1); */
   
}
.logo{
    /* display:flex;
    align-items:center;
    font-size:1.1rem;
    font-weight:600;
    color: #000000;
    margin-left: auto; */
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000;
    margin-right: auto;
  
}

.logo img{
    width:65px;
    margin-right:10px;
    border-radius: 30px 30px 20px 20px;
}

.navbar{
    display:flex;

}
.navbar a{
    font-size:1rem;
    padding:10px 20px;
    color: #000000;
    font-weight:500;
}
.navbar a:hover{
    color:#fff;
    background: var(--main-color);
    border-radius: 4px;
}
#menu-icon{
    font-size: 24px;
    cursor:pointer;
    z-index:10001;
    display:none;
}
.home{
    /* width:100%;
    min-height:100vh;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    background:url(bg.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    gap:1rem; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 1rem;
}

.home-text{
    flex:1 1 17rem;
}
.home-img{
    
    flex: 1 1 17rem;
}
.home-text span{
    font-size: 2rem;
    text-transform:uppercase;
    font-weight:600;
    color: var(--main-color);
}
.home-text h1{
    font-size:3rem;
    color:var(--second-color);
}
.home-text p{
    margin:0.5rem 0 1.4rem;
}
.btn{
    padding:10px 20px;
    border:2px solid var(--main-color);
    border-radius:40px;
    color: var(--main-color);
    font-weight:500;
}
.btn:hover{
    letter-spacing: 2px;
    color:#fff;
    background: var(--main-color);
}

.about{
    display:flex;
    align-items:center;
    flex-direction:column;
    background:url('https://img.pikbest.com/wp/202344/copy-space-abundant-beauty-a-nature-inspired-green-leaf-background-with-textured-pattern-for-design-and_9925539.jpg!sw800');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.about h1{
    font-size: 2.5rem;
    color:#fff;
    margin-bottom : 2rem;
    text-transform:uppercase;
}
.about-container{
    background:#fff;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    border-radius:10px;
    border-top:6px solid var(--main-color);
    padding: 20px;
    gap: 2rem;
}
.box-img{
    width:200px;
    height:200px;
}
.box-img img{
    width:100%;
    height:100%;
    object-fit:contain;
    object-position:center;
}
.about-box{
    flex: 1 1 8rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}